/*Initial CSS Start*/
*, html
{
    margin: 0;
    padding: 0;
}
/*Initial CSS End*/

/*General CSS Start*/
.light
{
    color: beige;
}
/*General CSS End*/

/*Nav Start*/
#nav
{
    /*height: 25px;*/
    margin: 0;
    padding: 0;
    background : linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab );
    background-size: 400% 400%;
    -webkit-animation: gradientBG 10s ease infinite;
            animation: gradientBG 10s ease infinite;
}

@-webkit-keyframes gradientBG
{
    0%
    {
        background-position: 0% 50%;
    }
    50%
    {
        background-position: 100% 50%;
    }
    100%
    {
        background-position: 0% 50%;
    }
}
@keyframes gradientBG
{
    0%
    {
        background-position: 0% 50%;
    }
    50%
    {
        background-position: 100% 50%;
    }
    100%
    {
        background-position: 0% 50%;
    }
}

#logo-img
{
    padding-top: 3px;
    margin: 0px;
    height: auto;
    width: 40px;
}

#logo
{
    margin-left: 4px;
    background: white;
    width: 40px;
    height: auto;
    border-radius: 50%;
    border: 1px solid blueviolet;
}

#logo:hover
{
    background: rgba(255, 255, 255, 0.35);
    border: 1px solid rgba(167, 85, 245, 0.671);
}

#td-logo
{
    padding-top: 5px;
    padding-bottom: 5px;
    width: 40px;
}

/*    box-shadow: 2px 2px 1px 1px rgba(255, 255, 255, 0.1);*/

#burg-img
{
    padding-top: 5px;
    padding-left: 5px;
    margin: 0px;
    height: auto;
    width: 30px;
}

#burg
{
    margin-right: 4px;
    background: white;
    width: 40px;
    height: 38px;
    border-radius: 50%;
    border: 1px solid blueviolet;
}

#burg:hover
{
    background: rgba(255, 255, 255, 0.35);
    border: 1px solid rgba(167, 85, 245, 0.671);
}

#td-burg
{
    padding-top: 5px;
    padding-bottom: 5px;
    width: 40px;
}

#td-header
{
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Courier New', Courier, monospace;
}
/*Nav End*/

/*Box Start*/
.box
{
    width:max-content;
    margin: 8px auto 8px auto;
    padding: 5px;
    align-self:inherit;
    border: 1px solid blueviolet;
    border-radius: 8px;
}

.box:hover
{
    background: linear-gradient(65deg, #e73c7e, #d93ce7, #23d5ab, #52eea0);
    color: beige;
}

a
{
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
}

a:link
{
    color: black;
}

a:visited
{
    color: black;
}

/*
a:hover
{
    color: beige; 
        I commented it because this changed the text color even if the mouse was on directly
        over the text
        That is the text color changes if the mouse goes to same row as the link
        This caused the link to change to white color and this caused the text to become invisible
        Because the background was alo white
    
}
*/

a:active
{
    color: black;
}
/*Box End*/