/*This is the notes css*/

.cnt {
    border: 1px solid blueviolet;
    border-radius: 5px;
    padding: 5px;

    margin: 8px 8px 8px 8px;
}

.notes {
    display: grid;
    padding: 5px;
    border: 1px solid bluevoilet;
    gap: 1em;
    justify-content: space-evenly;
    grid-template-columns: 1fr; 
}


.button {
    margin-left: auto;
    margin-right: 1%;
}

@media (min-width: 670px) {
    .notes {
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        flex-direction: column; 
    }
    .cnt {
        width: min(90%, 1000px);
    }
    .button {
        margin-left: auto;
        margin-right: 5%;
    }
}

#note {
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0.4px 0.5px 3.5px 0.1px;
    height: max-height;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}
